<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ 'common.title'|trans }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kontrolgruppencore/build/core.css') }}">
  {% endblock %}
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/solid.js" integrity="sha384-IA6YnujJIO+z1m4NKyAGvZ9Wmxrd4Px8WFqhFcgRmwLaJaiwijYgApVpo1MV8p77" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/fontawesome.js" integrity="sha384-EMmnH+Njn8umuoSMZ3Ae3bC9hDknHKOWL2e9WJD/cN6XLeAN7tr5ZQ0Hx5HDHtkS" crossorigin="anonymous"></script>
</head>
<body {% block body_attributes %}{% endblock %}>
{% block body %}{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('bundles/kontrolgruppencore/build/core.js') }}"></script>
{% endblock %}
</body>
</html>
