<form method="post" action="{{ path('service_delete', {'id': service.id}) }}"
      onsubmit="return confirm({{ "'" ~ ('common.actions.confirm.delete'|trans) ~ "'" }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="btn btn-danger float-right mr-3">{{ 'common.actions.delete'|trans }}</button>
</form>
