<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">{{ 'export.show.revenue_export.info_title'|trans }}</h4>
    <p>{{ 'export.show.revenue_export.info_text'|trans }}</p>
</div>
