.itkdev-monthpicker {
    display: flex;
    width: 600px;
    height: 300px;
    padding: 1em;
}

.itkdev-monthpicker-content {
    justify-content: center;
}

.itkdev-month-button {
    width: 60px;
    height: 50px;
    text-align: center;
}

.itkdev-year {
    display: flex;
    justify-content: center;
}

.itkdev-months {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
