{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'conclusion.edit.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'conclusion.edit.title'|trans }}</h1>

    {% if canEdit %}
        {{ include('@KontrolgruppenCore/conclusion/_form.html.twig', {'button_label': 'Update'}) }}
    {% endif %}
{% endblock %}
