<form method="post" action="{{ path('process_type_delete', {'id': process_type.id}) }}"
      onsubmit="return confirm({{ "'" ~ ('common.actions.confirm.delete'|trans) ~ "'" }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ process_type.id) }}">
    <button class="btn btn-danger float-right mr-3">{{ 'common.actions.delete'|trans }}</button>
</form>
