<div class="form-group">
  <label for="processStatusSelect">{{ 'process_status.select.label'|trans }}</label>
  <select class="form-control" name="processStatusSelect" id="">
    <option>TODO: Get status for this process</option>
  </select>
</div>
