{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block content %}
  <div class="js-search-text" data-search="{{ search }}">
    {{ 'search.results_for'|trans }}: "{{ search }}"
  </div>

  <div>
    {% include '@KontrolgruppenCore/process/_process_table_pagination.html.twig' %}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
    console.log(
      $('.js-search-text').data('search')
    );
  </script>
{% endblock %}
