{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
  <div class="form-group">
      <label class="control-label required">{{ 'profile.show.email'|trans }}</label>
      <span class="form-control">{{ user.email }}</span>
  </div>
  <div class="form-group">
      <a class="btn btn-primary" href="{{ path('fos_user_change_password') }}">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</a>
  </div>
</div>
