/*
 * Include variables, bootstrap and select2
 */
@import "_variables";
@import "~bootstrap/scss/bootstrap";
@import "~select2/src/scss/core";
@import "~jquery-confirm/css/jquery-confirm";

/*
* Include partials
*/
@import "_dashboard";

/*
 * Push down content behind navbar
 */

.main-container {
    margin-top: $navbarHeight;
}

/*
 * GlobalMenu
 */

.globalmenu {
    position: relative;
    top: calc(#{$spacer} + #{$navbarHeight}); //sticky meny offset
    height: calc(100vh - #{$navbarHeight} - #{$spacer});
    .nav {
        &-link {
            color: $white;
            &.active {
                color: $primary;
            }
        }
    }
}

/*
 * Sidebar
 */

.sidebar {
    z-index: 100; /* Behind the navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: calc(#{$spacer} + #{$navbarHeight}); //sticky meny offset
    height: calc(100vh - #{$navbarHeight} - #{$spacer*2});
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports (position: sticky) {
    .sidebar-sticky, .globalmenu {
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: $gray-900;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    font-family: $h1-font-family;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

h1 {
    font-weight: 100;
    font-family: $h1-font-family;
}

h2 {
    font-size: $h2-font-size*.8;
}

h3 {
    font-size: $h3-font-size*.7;
}

/* Sidebar tabs */
.nav-tabs .nav-link.active {
    background: $gray-100;
    border-bottom-color: $gray-100;
}

table th a.asc,
table th a.desc {
    text-decoration: underline;
}

/* Toggle btn text and icon with collapse */
.btn-collapse[aria-expanded="true"] {
    .btn-collapse-show{
        display: none;
    }
    .btn-collapse-hide{
        display: inline;
    }
}
.btn-collapse[aria-expanded="false"] {
    .btn-collapse-show{
        display: inline;
    }
    .btn-collapse-hide{
        display: none;
    }
}
