body {
    font-size: 12pt;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.5;
    background: #fff !important;
    color: #000;
}

table {
    margin: 0;
    padding: 0;
    border-spacing: 0px;
    border-collapse: separate;
    width: 100%;
    table-layout: fixed;
    th,
    td {
        text-align: left;
        padding: 5px 3px 5px 3px;
    }
    &.border {
        border: 1px solid #000;
    }
    &.striped {
        tr:nth-child(odd) {
            td {
                background: #c1c1c1;
            }

        }
    }

}

h1 {
    font-size: 24pt;
    padding: 0;
    margin: 0 0 25px 0;
    width: 100%;
}

h2 {
    width: auto;
    font-size: 16pt;
    margin: 25px 0 10px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #666;
}

h3 {
    width: auto;
    font-size: 12pt;
    margin: 20px 0 0 0;
    padding: 0;
}

h4 {
    width: auto;
    font-size: 13pt;
    margin: 20px 0 0 0;
    padding: 0;
}

/* Avoid page break inside the element */
table,
pre,
a,
blockquote {
    page-break-inside: avoid;
}

/* Avoid page break inside and after the element */
h1,
h2,
h3,
h4,
h5,
h6,
img {
    page-break-inside: avoid;
    page-break-after: avoid;
}

/* Avoid page break before the element */
ul,
ol,
dl {
    page-break-before: avoid;
}

a,
a:link,
a:visited {
    background: transparent;
    color: darkblue;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
}

a[href^="http"]:after {
    content: " <" attr(href) "> ";
}

.container {
    width: auto;
    margin: 0 3%;
    padding: 0;
    border: 0;
    float: none !important;
    color: black;
    background: transparent;
}

.row {
    margin-top: 1%;
    page-break-inside: avoid;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.w-15 {
    width: 15%;
}

.border {
    border: 1px solid #000;
}

.text-small {
    font-size: 9pt;
}
