{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'process_relation.index.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'process_relation.index.title'|trans }}</h1>

    <ul>
    {% for relatedProcess in process.relatedProcesses %}
        <li>
            {{ relatedProcess.process.caseNumber }}
            {% if relatedProcess.isPrimary %}
                <span class="badge badge-primary">{{ 'process_relation.primary'|trans }}</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
