{{ form_start(form) }}
    {{ form_widget(form) }}
<button
    class="btn btn-success float-right pr-5 pl-5">{{ (button_label is defined ? (form.vars.full_name ~ '.form.' ~ button_label|lower) : 'common.actions.save')|trans }}</button>
{{ form_end(form) }}
