{% extends 'base.html.twig' %}

{% block title %}Edit RevenueEntry{% endblock %}

{% block body %}
    <h1>Edit RevenueEntry</h1>

    {{ include('revenue_entry/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('revenue_entry_index') }}">back to list</a>

    {{ include('revenue_entry/_delete_form.html.twig') }}
{% endblock %}
