<table>
    <thead>
        <tr>
            <th>{{ 'process_report.report.conclusion.base.conclusion'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ process.conclusion.conclusion|raw }}</td>
        </tr>
    </tbody>
</table>
