<h2>{{ 'process_report.report.journal.title'|trans }}</h2>

{% for journalEntry in journalEntries %}
    <h3>{{ journalEntry.createdAt|localizeddate('short', 'none') }} - {{ journalEntry.title }}</h3>
    <table>
        <tr>
            <td>{{ journalEntry.body|raw }}</td>
        </tr>
    </table>
{% endfor %}
