<h2>{{ 'process_report.report.journal.title'|trans }}</h2>

{% for journalEntry in journalEntries %}
    <h3>{{ journalEntry.title }}</h3>
    <table>
        <tr>
            <td class="w-15" valign="top">{{ journalEntry.createdAt|localizeddate('short', 'none') }}</td>
            <td>{{ journalEntry.body|raw }}</td>
        </tr>
    </table>
{% endfor %}
