<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ 'process_report.report.title'|trans }}</title>
</head>
    <body>

        <h1>{{ 'process_report.report.title'|trans }}</h1>

        {% if choice == 'only_summary' %}

            {% include('@KontrolgruppenCoreBundle/process_report/_summary.html.twig') %}

        {% else %}

            {% include('@KontrolgruppenCoreBundle/process_report/_summary.html.twig') %}

            <br />

            {% include('@KontrolgruppenCoreBundle/process_report/_client.html.twig') %}

            <br />

            {% include('@KontrolgruppenCoreBundle/process_report/_economy.html.twig') %}

            <br />

            {% include('@KontrolgruppenCoreBundle/process_report/_journal.html.twig') %}

            <br />

            {% include(conclusionTemplate) %}

        {% endif %}
    </body>
</html>
