{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'process_report.index.title'|trans }}{% endblock %}

{% block content %}
<h1>{{ 'process_report.index.title'|trans }}</h1>

    {{ form(form) }}

{% endblock %}
