<ul class="list-group">
    {% for changeKey, change in log.logEntry.data %}
        <li class="list-group-item">
            {% if change is iterable %}
                {{ ('process.revision.table.log_entry.' ~ camelCaseToUnderscore((log.logEntry.objectClass|split('\\')|last)) ~ '.' ~ camelCaseToUnderscore(changeKey))|trans }}: {{ change.name }}
            {% else %}
                {{ ('process.revision.table.log_entry.' ~ camelCaseToUnderscore((log.logEntry.objectClass|split('\\')|last)) ~ '.' ~ camelCaseToUnderscore(changeKey))|trans }}: {{ formatLogEntryValue(change) }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
