{% if not process.completedAt %}
    {% if changeProcessStatusForm is defined %}
        {{ form(changeProcessStatusForm, {'attr': {'id': 'process_status_form'}}) }}
    {% endif %}
{% else %}
    <div class="bg-light rounded-sm p-3 mb-3">
        {{ process.processStatus }}
    </div>
{% endif %}
