<div class="mb-3">
  <div class="row">
    <div class="col">
      <span class="d-block"><span class="sr-only">{{ 'process.table.client_name'|trans }}</span>TODO: Client name</span>
      <span class="d-block"><span class="sr-only">{{ 'process.table.client_cpr'|trans }}</span>{{ process.clientCPR }}</span>
      <span class="d-block"><span class="sr-only">{{ 'process.table.client_adress'|trans }}</span>TODO: Client address</span>
    </div>
  </div>
</div>
