{% extends 'main/index.html.twig' %}

{% block title %}{{ 'process.index.title'|trans }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="float-left">{{ 'process.index.title'|trans }}</h1>
      <a href="{{ path('process_new') }}" class="btn btn-success btn-lg float-right">{{ 'common.actions.create'|trans }}</a>
    </div>
  </div>
  <p class="alert alert-info">TODO: Filter to show all cases or only cases assigned to current user.</p>
  {% include '@KontrolgruppenCore/process/_process_table.html.twig' %}

{% endblock %}

