{% extends 'main/index.html.twig' %}

{% block title %}{{ 'process.index.title'|trans }}{% endblock %}

{% block content %}
  <h1 class="float-left">{{ 'process.index.title'|trans }}</h1>
  <a href="{{ path('process_new') }}" class="btn btn-success btn-lg float-right">{{ 'common.actions.create'|trans }}</a>

  {% include '@KontrolgruppenCore/process/_process_list.html.twig' %}

{% endblock %}
