{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'process_log.index.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="float-left">{{ 'process_log.index.title'|trans }}</h1>
    {# @TODO: Styling #}
    <div style="margin-top: 100px; position: relative;">
        {% include '@KontrolgruppenCore/process_log/_log_entries.html.twig' %}
    </div>
{% endblock %}
