{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'process_log.index.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'process_log.index.title'|trans }}</h1>

    {% include '@KontrolgruppenCore/process_log/_log_entries.html.twig' %}

{% endblock %}
