{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{ 'base.title'|trans }}</a>
    {% block navigation_main %}
      <input class="form-control form-control-dark w-100" type="text" placeholder="{{ 'navigation.main.search'|trans }}"
             aria-label="{{ 'navigation.main.search'|trans }}">

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">{{ 'navigation.main.sign_out'|trans }}</a>
        </li>
      </ul>
    {% endblock %}
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          {% block navigation_sidebar %}
          {% endblock %}
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
          <div class="row">
            <div class="col">
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock %}
